<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img class="logo" src="img/logo_Openpaas new colors.svg" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="presentation.html">{{ 'PRESENTATION_TITLE' | translate }}</a>
                </li>
                <li class="page-scroll">
                    <a href="features.html">{{ 'FONCTIONNALITES_TITLE' | translate }}</a>
                </li>
                <li class="page-scroll">
                    <a href="technologies.html">{{ 'TECHNOLOGIES_TITLE' | translate }}</a>
                </li>
                <li class="page-scroll">
                    <a href="about-us.html">{{ 'APROPOS_TITLE' | translate }}</a>
                </li>
                <li class="page-scroll">
                    <a href="">
                        <iframe src="https://ghbtns.com/github-btn.html?user=linagora&repo=openpaas-esn&type=star&count=true"
                                frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
